body,
html {
    margin: 2%;
}

body {
    font-family: 'Overpass', sans-serif;
    letter-spacing: 1px;
}

span {
    display: inline-block;
    font-size: 80px;
    color: #000000;
}


.grid {
    display: grid;
    height: 750px;
    width: 1550px;
    grid-template-columns: 300px 1fr;

}

.left-section {
    box-sizing: border-box;
    background-color: #565d2c;
    height: 750px;
    width: 300px;
    border: 10px solid white;
    text-align: center;
}

.howitwork {
    font-size: 30px;
}


.whatido:hover {
    font-size: 25px;
}

.aboutme:hover {
    font-size: 25px;
}

.contactme:hover {
    font-size: 25px;
}

blockquote {
    background: none;
    border-left: 8px solid rgb(164, 163, 163);
    margin: 1.5em 10px;
    padding: 0.3em 10px;

}

.right-section {
    width: 1fr;
    height: 1fr;
    background-color: rgb(224, 223, 223);
}

a {
    color: #000000;
    text-decoration: none;
}